.hover-up {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-up:hover {
  transform: translateY(-5px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}


i {
  transition: color 0.3s ease;
}

.hover-up:hover i {
  color: #d68910; 
}